<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-info">
      <h3 class="footer-title">{{ site.title }}</h3>
      <p class="footer-tagline">Since {{ site.established }}</p>
      <p class="footer-address">
        <strong>주소:</strong> 598-01-02, Menara Asas, Tanjung Bungah, 11200, Penang, Malaysia<br>
        <strong>전화:</strong> +60-4-299-7935 | <strong>휴대전화:</strong> +60-17-510-3771<br>
        <strong>이메일:</strong> penangkc1994@naver.com<br>
        <strong>홈페이지:</strong> <a href="http://www.pkc1994.modoo.at" target="_blank">www.pkc1994.modoo.at</a>
      </p>
      <p class="footer-pastor">담임목사: {{ site.pastor }}</p>
    </div>

    <div class="footer-copyright">
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    </div>
  </div>
</footer>
